<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catfixture.virgloverlay">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".core.AppContext"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VirGLOverlay"
        android:icon="@drawable/main_ico"
        android:roundIcon="@drawable/main_ico"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true">

        <activity android:name="com.catfixture.virgloverlay.ui.activity.virgl.Virgl"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.VirGLOverlay.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".core.impl.android.NativeServerInstance"
            android:enabled="true"
            android:process=":nativeThread"
            android:exported="true"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="com.catfixture.virgloverlay.REMOTE_SERVICE_ACTION" />
            </intent-filter>
        </service>

        <service
            android:name=".core.input.android.GlobalEventsService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/global_events_service" />
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>

        <receiver
            android:name=".core.input.android.MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="test" />
            </intent-filter>
        </receiver>
    </application>

    <queries>
        <package android:name="com.google.android.gm"/>
        <intent>
            <action android:name="android.intent.action.SEND_MULTIPLE" />
        </intent>
    </queries>
</manifest>